@font-face {
  font-display: auto;
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu-regular-webfont.woff2") format("woff2"),
    url("/fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: auto;
  font-family: "Open Sans";
  src: url("/fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("/fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: auto;
  font-family: "Roboto";
  src: url("/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("/fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  color: #d32f2f;
}

a:hover {
  color: #333333;
}

svg {
  height: 1em;
  vertical-align: -0.125em;
}

:not(pre) > code[class*="language-"] {
  white-space: nowrap;
}

.blur-up .lazyload,
.blur-up .lazyloaded {
  filter: blur(5px);
  transition: filter 400ms;
}

.lazyloaded {
  filter: blur(0);
}

picture {
  display: flex;
  flex-direction: column;
  display: content;
  background: #484848;
  width: 100%;
}
